<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="Datahub/home">Angualr 14 CRUD </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="Datahub/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="Datahub/create">Add Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="Datahub/resume">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="Datahub/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="Datahub/contact">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<main class="containter">
  <div class="bg-light p-5 rounded">
    <h1>Angular 14 CRUD Application</h1>
    <p class="lead">This is a small app to show CRUD operations.</p>
    <p class="lead">Made by <strong> jshubham </strong></p>
  </div>
</main>

<router-outlet></router-outlet>